__pycache__/
*.pyc

sample_data/*loci*
sample_data/*zip
sample_data/*fasta.n*
sample_data/*fasta.p*
sample_data/uniprot*fasta*
sample_data/chr5.fas
sample_data/mikado.fasta
sample_data/mikado.gtf
myRecords/__pycache__/BatchBlast.cpython-34.pyc
myRecords/__pycache__/Blast.cpython-34.pyc
myRecords/__pycache__/Blat.cpython-34.pyc
myRecords/__pycache__/cufflinks.cpython-34.pyc
myRecords/__pycache__/Fastq.cpython-34.pyc
myRecords/__pycache__/GFF.cpython-32.pyc
myRecords/__pycache__/GFF.cpython-34.pyc
myRecords/__pycache__/gff_mrna.cpython-34.pyc
myRecords/__pycache__/GTF.cpython-34.pyc
myRecords/__pycache__/gtfRecord.cpython-34.pyc
myRecords/__pycache__/__init__.cpython-32.pyc
myRecords/__pycache__/__init__.cpython-34.pyc
myRecords/__pycache__/Sam.cpython-34.pyc
Chr*
*/*~
sample_data/*.ok
sample_data/.snakemake
sample_data/*db
sample_data/*xml
test_blast
sample_data/*check
sample_data/*tmap
sample_data/*refmap
sample_data/*stats
sample_data/*log*
sample_data/*prof
portcullis
*lprof
Reference/*
build/*
*~
shanghai.egg-info/
dist/*
Mikado.egg-info/*
.idea/*