*.pyc
*.pyd
*.cpp
*.simg
.#*
#*
.coverage
*.coverage.*
htmlcov
sample_data/*loci*
sample_data/*zip
sample_data/*fasta.n*
sample_data/*fasta.p*
sample_data/uniprot*fasta*
sample_data/chr5.fas
sample_data/mikado_prepared.fasta
sample_data/mikado_prepared.gtf
sample_data/configuration.toml
sample_data/slurm*
sample_data/daijin.*.yaml
sample_data/daijin.*.toml
sample_data/Daijin
sample_data/daijin_test
sample_data/chr5.fas.gz.fai
sample_data/daijin.yaml
sample_data/daijin_exe.yaml
Chr*
*/*~
sample_data/*.ok
sample_data/.snakemake
sample_data/*db
sample_data/*xml
test_blast
sample_data/*check
sample_data/*tmap
sample_data/*refmap
sample_data/*stats
sample_data/*log*
sample_data/*prof
Reference/*
build/*
*~
dist/*
Mikado.egg-info/*
.idea/*sample_data/configuration2.yaml
.idea/codeStyleSettings.xml
.idea/dictionaries
.idea/encodings.xml
.idea/inspectionProfiles
.idea/Mikado.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/
sample_data/mikado_prepared.fasta.fai
sample_data/chr5.fas.fai
sample_data/all.fasta.fai
sample_data/1.fasta
sample_data/2.fasta
sample_data/configuration2.yaml
sample_data/reference.gff3.midx
Mikado/*/*/*html
Mikado/*/*html
Mikado/utilities/overlap.cpython-3*.so
Mikado/scales/contrast.c
Mikado/scales/contrast.cpython-3*.so
Mikado/scales/contrast.html
Mikado/utilities/f1.html
Mikado/utilities/f1.c
Mikado/utilities/f1.cpython-3*.so
Mikado/utilities/overlap.html
Mikado/scales/intervaltree.cpython-3*.so
doc/build/sample_data/configuration.yaml
sample_data/5-mikado/
sample_data/configuration.yaml
sample_data/mikado.blast.xml.gz
docs/_build
scripts-3.5/
sample_data/.Rhistory
sample_data/.ipynb_checkpoints/
sample_data/Untitled1.ipynb
sample_data/Untitled.ipynb
Mikado/utilities/intervaltree.c
Mikado/utilities/intervaltree.cpython-3*.so
Mikado/tests/sample_data/diamond.xml.gz
Mikado/tests/fusion_test/fusion_test.log
sample_data/diamond.xml.gz
Mikado/*/*.c
Mikado/*/*.so
Mikado/*/*/*.c
Mikado/*/*/*.so
Mikado/utilities/overlap.c
sample_data/Daijin
.eggs/
.ipynb_checkpoints/
Untitled*ipynb
cover/
coverage.xml
Mikado*img
.vscode/
docs/Library
