name: mikado2
channels:
  - conda-forge
  - bioconda
dependencies:
  - python>3.8,<3.11
  - setuptools<80.9
  - cython==0.29.32
  - biopython==1.79
  - docutils==0.19
  - drmaa==0.7.9
  - hypothesis==6.56.2
  - msgpack-python==1.0.4
  - networkx==2.8.7
  - numpy==1.23.3
  - pandas==1.5.0
  - pysam==0.23.3
  - pyyaml==6.0.1
  - scipy==1.11.1
  - snakemake==6.15.5
  - sqlalchemy==1.4.41
  - sqlalchemy-utils==0.38.3
  - tabulate==0.9.0
  - pytest==7.1.3
  - python-rapidjson==1.9
  - toml==0.10.2
  - pyfaidx==0.5.9.5
  - marshmallow==3.14.1
  - marshmallow-dataclass==8.5.3
  - typeguard==2.13.3
  - sqlite
  - pip
  - wheel
  - samtools>=1.11
  - htslib>=1.11
  - prodigal==2.6.3
  - diamond==2.1.16
  - portcullis==1.2.4
