# name: mikado2
channels:
  - bioconda
  - conda-forge
  - intel
  - defaults
dependencies:
  - bioconda::portcullis>=1.2
  - biopython>=1.78
  - cython>=0.29.13
  - datrie>=0.8
  - decorator
  - docutils
  - drmaa
  - hypothesis
  - jsonschema
  - msgpack-python>=1.0.0
  - networkx>=2.3
  - numpy>=1.17.2
  - pandas>=0.25.1
  - pip
  - pyfaidx>=0.5.5.2
  - pysam>=0.15.3
  - defaults::python>=3.6
  - python-rapidjson>=0.8.0
  - pyyaml>=5.1.2
  - scikit-learn>=0.21.3
  - scipy>=1.3.1
  - six>=1.12.0
  - snakemake-minimal>=5.7.0
  - sqlalchemy>=1.3.9
  - sqlalchemy-utils>=0.34.1
  - sqlite
  - tabulate>=0.8.5
  - wheel
  - pytest>=5.4.1
  - libffi  # necessary for intervaltree
  - pip:
    - jsonref>=0.2
    - rapidjson>=1.0.0
    - intervaltree
  - conda-forge::toml>=0.10.0
  - conda-forge::tomlkit>=0.5.8
  - bioconda::pyfaidx>=0.5.8