wheel>=0.28.0
pyyaml
jsonschema
cython>=0.25
numpy>=1.16.0
networkx>=2
sqlalchemy>=1
sqlalchemy_utils
biopython>=1.70
intervaltree
pytest
pyfaidx
scikit-learn>=0.17.0
scipy>=1.0.0
frozendict
python-magic
drmaa
snakemake
docutils!=0.13.1
tabulate
ujson
simplejson
typing; python_version < "3.5"
pandas
pytest-cov