wheel>=0.28.0
pyyaml
jsonschema
cython>=0.25
numpy>=1.15.0
networkx>=2
sqlalchemy>=1
sqlalchemy_utils
biopython>=1.70
intervaltree
nose  # for numpy tester
pytest
pyfaidx
scikit-learn>=0.17.0
scipy>=0.15.0
frozendict
python-magic
drmaa
snakemake
docutils!=0.13.1
tabulate
ujson
simplejson
typing; python_version < "3.5"
pandas
pytest-cov