wheel>=0.28.0
pyyaml
jsonschema
cython>=0.25
numpy
networkx>=1.10
sqlalchemy>=1
sqlalchemy_utils
biopython>=1.66
intervaltree
nose
pyfaidx
scikit-learn>=0.17.0
scipy>=0.15.0
frozendict
python-magic
drmaa
snakemake
docutils!=0.13.1
tabulate
ujson
