/* override table width restrictions */

.wy-nav-content {
    height: 100%;
    max-width: 80%; /* Tries to make the tables fit a bit nicer on the page */
    margin: auto;
}


.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
    height: auto;
}


tt {
    font-size: 130%;
}


body {
    color: #000;
    margin: 0;
    padding: 0;
}

div.body {
    max-width: 80%;
}

div.injected {
    display: none;
}
